// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

// Import bootstrap and fontawesome
@import "bootstrap";
@import "main";

// Bootstrap Starter Template Styles
body {
  padding-top: 0px;
}
.main-cover{
	background-image:url('../images/gradient.png'),url('http://www.indieshuffle.com/bundles/webbundle/images/artwork/thumb_500_500/1462392769.6951_p02gl5k6.jpg');
	background-repeat: repeat-x, no-repeat;
    box-sizing: border-box;
    padding: 4rem;
    background-position: bottom left, top center;
    background-size: 4px 100% , cover;
    position: relative;
    height: 100vh;
    max-height: 100vh;
}


//player
audio{color:white;background-color: #95B9C7;}

.active a{background:red;}
li a{color:white;}
li a:hover{}
